fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
alembic

email-validator

pydantic
pydantic-settings

python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.1.2

python-multipart

openai

langchain
langgraph

qdrant-client

pandas
numpy
scikit-learn

python-dotenv

reportlab

pytest
httpx